<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <!-- Navbar Brand-->
  <a class="navbar-brand ps-3" href="index.html">Inventory Management</a>

  <!-- Sidebar Toggle-->
  <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>

  <div class="ms-auto me-0 me-md-3 my-2 my-md-0">
    <%= button_to(
          "Log Out",
          destroy_user_session_path,
          method: :delete,
          class: 'btn btn-danger',
          ) %>
  </div>
</nav>